body {
    font-family: 'Livvic', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}


a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1310px;
    padding: 0 100px;
    margin: 0 auto;
}

@mixin dis-item {
    display: flex;
    align-items: center;
}

@mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding-top: 50px;
    background: #014E56;
}

.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__block {
    display: flex;
    -moz-column-gap: 30px;
    column-gap: 80px;
}

.header__site-logo {
    width: 160px;
}

.nav__list {
    display: flex;
    align-items: center;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

.nav__link {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    transition: all 0.4s ease;
}

.nav__link:hover {
    transition: all 0.4s ease;
    color: #F67E7E;
}

.header__btn,
.header__btn-mobile {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 10px 30px;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    transition: all 0.4s ease;
}

.header__btn:hover,
.header__btn-mobile:hover {
    background-color: #FFFFFF;
    color: #002529;
    transition: all 0.4s ease;
}

.btn,
.offcanvas {
    display: none;
}

.hero {
    background: #014E56;
    padding-top: 140px;
    position: relative;

    &::before {
        content: "";
        background-image: url(/images/Group8.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 150px;
    }

    .hero__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-bottom: 250px;

        .hero__title {
            font-style: normal;
            font-weight: 700;
            font-size: 100px;
            line-height: 100px;
            color: #FFFFFF;
            max-width: 600px;

            .hero__title__pink {
                font-style: normal;
                font-weight: 700;
                font-size: 100px;
                line-height: 100px;
                color: #F67E7E;
                max-width: 600px;
            }
        }

        .hero__info {
            flex: 1;

            .hero__line {
                height: 4px;
                width: 50px;
                background: #79C8C7;
                margin-bottom: 80px;

            }

            .hero__text {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                color: #FFFFFF;
                width: 85%;
            }
        }

        .hero__img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

.build {
    background: #012F34;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 250px;
        bottom: 0;
        right: 0;
        background-image: url(/images/Group81.png);
        background-repeat: no-repeat;
    }

    .build__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-bottom: 140px;

        .build__title {
            padding-top: 200px;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            width: 45%;
            color: #FFFFFF;
        }

        .build__list {
            display: flex;
            flex-direction: column;
            padding-top: 200px;
            row-gap: 32px;

            .build__item {
                display: flex;
                max-width: 520px;
                column-gap: 23px;

                .build__item__img {
                    width: 72px;
                    height: 72px;
                }

                .build__item__subtitle {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 16px;
                    color: #F67E7E;
                }

                .build__text {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 25px;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.8;
                }
            }
        }
    }

    .build__body::before {
        content: "";
        position: absolute;
        top: 150px;
        left: 0;
        width: 50px;
        height: 4px;
        background: #F67E7E;
    }
}

.delivery {
    background: #004047;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 150px;
        top: 0;
        left: 0;
        background-image: url(/images/Group65.png);
        background-repeat: no-repeat;
    }

    &::after {
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;
        bottom: -100px;
        right: 0;
        background-image: url(/images/Group83.png);
        background-repeat: no-repeat;
    }

    .delivery__body {
        padding: 150px 0;

        .delivery__title {
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            margin-bottom: 56px;
            color: #FFFFFF;

            .delivery__span {
                color: #79C8C7;
            }
        }

        .delivery__list {
            display: flex;
            justify-content: space-between;

            .delivery__item {
                position: relative;
                max-width: 350px;
                @include dis-item;
                flex-direction: column;

                .delivery__text {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 25px;
                    padding-top: 20px;
                    text-align: center;
                    z-index: 2;
                    color: #FFFFFF;
                    margin-bottom: 24px;
                }

                .delivery__name {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 28px;
                    text-align: center;
                    color: #79C8C7;
                }

                .delivery__info {
                    font-size: 13px;
                    line-height: 18px;
                    text-align: center;
                    color: #FFFFFF;
                    margin-bottom: 32px;
                }

            }

            .delivery__item::before {
                content: "";
                width: 67px;
                height: 56px;
                background-image: url(/images/“.png);
                position: absolute;
                top: 0;
                z-index: 1;
            }
        }
    }
}

.ready {
    position: relative;
    background: #F67E7E;

    .ready__body {
        padding: 76px 0;
        @include dis-item;
        justify-content: space-around;

        .ready__title {
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            color: #012F34;
        }

        .ready__btn {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            border-radius: 24px;
            border: 2px solid #012F34;
            padding: 10px 30px;
            color: #012F34;
        }
    }
}

.ready::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 144px;
    background: url(/images/Group84.png);
}

footer {
    background: #002529;

    .footer__body {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;

        .footer__right {
            .footer__right__list {
                margin-top: 30px;
                display: flex;
                column-gap: 40px;

                .footer__right__link {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 28px;
                    color: #FFFFFF;
                }
            }
        }

        .footer__center {
            .footer__text {
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 25px;
                color: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.6;
                width: 130px;
            }

            .footer__phone {
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 25px;
                color: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.6;
            }
        }



        .footer__left {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .bx {
                font-size: 24px;
                color: white;
            }

            .footer__copy {
                margin-top: 50px;
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 25px;
                text-align: right;
                color: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.6;
            }
        }
    }
}

.hero__about {
    background: #014E56;
    padding: 120px 0;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        background: url(/images/Group77.png);
        width: 100px;
        height: 200px;
        background-repeat: no-repeat;
        // z-index: 1;
        // display: flex;
    }
}

.hero__about__body {
    display: flex;
    column-gap: 30px;
}

.hero__about__title {
    width: 350px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    color: #FFFFFF;
}

.hero__about__info {
    position: relative;

    &::before {
        content: "";
        height: 4px;
        width: 50px;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        z-index: 1;
        right: 40%;
        background: #F67E7E;
        position: absolute;
    }
}

.hero__about__text {
    max-width: 730px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
    color: #FFFFFF;
}

.meet {
    padding: 150px 0;
    background: #004047;
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100px;
        height: 200px;
        background: url(/images/Group62.png);
        background-repeat: no-repeat;
    }

    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        right: 0;
        width: 147px;
        height: 100px;
        background: url(/images/Group82.png);
        background-repeat: no-repeat;
    }
}

.meet__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 65px;
}

.meet__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.meet__item {
    width: 350px;
    @include column;
    background: #012F34;
    margin-bottom: 70px;
}

.meet__img {
    margin-top: 32px;
    margin-bottom: 16px;
}

.meet__name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
}

.meet__text {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 56px;
    color: #FFFFFF;
}

.client {
    background: #012F34;
    padding: 150px 0;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        background-image: url(/images/clients-bg.png);
        background-repeat: no-repeat;
    }
}

.client__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 70px;
    color: #FFFFFF;
}

.client__list {
    @include dis-item;
    justify-content: space-between;
}


@media screen and (max-width:992px) {
    .container {
        padding: 0 30px;
    }

    .hero {
        .hero__body {
            flex-direction: column;
            align-items: center;

            .hero__title {
                font-size: 64px;
                line-height: 56px;
                max-width: 390px;
                text-align: center;
                margin-bottom: 24px;
            }

            .hero__info {
                display: flex;
                flex-direction: column-reverse;

                .hero__line {
                    display: none;
                }

                .hero__text {
                    font-size: 15px;
                    text-align: center;
                    max-width: 457px;
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }

        .hero__img {
            width: 100%;
        }
    }

    .build {
        &::before {
            top: 0;
        }

        .build__body {
            &::before {
                top: 64px;
            }

            display: flex;
            flex-direction: column;

            .build__title {
                width: 445px;
                font-size: 32px;
                line-height: 32px;
                padding-top: 100px;
            }

            .build__list {
                padding-top: 60px;
            }
        }

    }

    .ready {
        .ready__body {
            @include dis-item;

            .ready__title {
                font-size: 32px;
                line-height: 32px;
                margin-bottom: 24px;
                width: 336px;
                text-align: center;
            }

            .ready__btn {
                margin-bottom: 25px;
            }
        }

    }

    .hero__about__body {
        @include column;
    }

    .hero__about__title {
        font-size: 64px;
        line-height: 56px;
        text-align: center;
    }

    .hero__about__info::before {
        display: none;
    }

    .hero__about__text {
        font-size: 15px;
        line-height: 28px;
        max-width: 457px;
        text-align: center;
    }

    .meet {
        padding: 100px 0;
    }

    .meet__title {
        font-size: 32px;
        line-height: 32px;
    }

    .meet__list {
        justify-content: center;
        column-gap: 11px;
    }

    .meet__item {
        width: 281px;
    }

    .client::before {
        background: url(/images/Group61.png);
        height: 100px;
    }

    .client {
        padding: 100px 0;
    }

    .client__title {
        font-size: 32px;
        line-height: 32px;
    }

    .client__img {
        max-width: 110px;
    }
}




@media screen and (max-width:767px) {
    .container {
        padding: 0 24px;
    }

    .btn,
    .offcanvas {
        display: block;
    }

    .nav,
    .header__btn {
        display: none;
    }

    .btn {
        border: none;
    }

    .bx-menu {
        font-size: 30px;
        color: #FFFFFF;
    }

    .offcanvas {
        background: #2C6269;

        &::before {
            content: '';
            display: block;
            background-image: url(/img/Group\ 8.png);
            background-repeat: no-repeat;
            width: 100px;
            height: 200px;
            position: absolute;

            right: 0;
            bottom: 0;


        }
    }

    .btn-close {
        background: transparent;
        color: #FFFFFF !important;
        opacity: 1 !important;
        margin-top: calc(var(--bs-offcanvas-padding-y) * 1.7) !important;
        margin-right: calc(var(--bs-offcanvas-padding-x) * 1.5) !important;
    }

    .bx-x {
        font-size: 30px;
    }

    .offcanvas-body {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 35px;
        padding-top: 50px;
        padding-left: 50px;

    }

    .nav__list {
        padding: 0;
        flex-direction: column;
    }

    .hero {
        .hero__body {
            flex-direction: column;
            align-items: center;

            .hero__title {
                font-size: 40px;
                line-height: 40px;
                width: 240px;
                margin-bottom: 18px;

                .hero__title__pink {
                    font-size: 40px;
                    line-height: 40px;
                }
            }

            .hero__info {
                display: flex;
                flex-direction: column-reverse;
                max-width: 327px;

                .hero__line {
                    display: none;
                }
            }
        }
    }

    .build {
        background: #012F34;

        .build__body {
            @include column;
            align-items: inherit;

            .build__title {
                color: #FFFFFF;
                font-size: 32px;
                line-height: 32px;
                width: 240px;
            }

            .build__list {
                padding-top: 30px;
                @include column;

                .build__item {
                    flex-direction: column;
                    align-items: center;

                    .build__item__img {
                        width: 72px;
                        height: 72px;
                    }

                    .build__item__subtitle {
                        text-align: center;
                    }

                    .build__text {
                        text-align: center;

                    }
                }
            }
        }
    }

    .delivery {

        .delivery__body {
            @include column;

            .delivery__title {
                font-size: 32px;
                line-height: 32px;
                text-align: center;

                .delivery__span {
                    color: #79C8C7;
                }
            }

            .delivery__list {
                @include column;

                .delivery__item {
                    max-width: 350px
                }
            }
        }
    }

    .ready {
        .ready__body {
            @include column;

            .ready__title {
                font-size: 32px;
                line-height: 32px;
                margin-bottom: 24px;
                width: 327px;
                text-align: center;
            }

            .ready__btn {
                margin-bottom: 30px;
            }
        }
    }

    footer {
        .footer__body {
            flex-direction: column;
            align-items: center;

            .footer__right {
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
            }


            .footer__center {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: 40px;

                .footer__text {
                    text-align: center;
                }
            }


            .footer__left {
                justify-content: center;
                align-items: center;

                .footer__copy {
                    margin-top: 16px;
                }
            }
        }
    }

    .hero__about::before {
        bottom: -100px;
    }

    .hero__about__title {
        font-size: 40px;
        line-height: 40px;
    }

    .hero__about__info::before {
        display: none;
    }

    .hero__about__text {
        max-width: 327px;

    }

    .meet::before {
        background: url(/images/Group63.png);
        background-repeat: no-repeat;
        height: 100px;
    }

    .meet__item {
        max-width: 327px;
    }

    .client::before {
        width: 100px;
        background: url(/images/Group64.png);
    }

    .client__list {
        flex-direction: column;
        row-gap: 55px;
    }

    .client__img {
        max-width: 150px;
    }
}