body {
    font-family: 'Livvic', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}


a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    box-sizing: content-box;
    max-width: 1110px;
    padding: 0 100px;
    margin: 0 auto;
}

@mixin dis-item {
    display: flex;
    align-items: center;
}

header {
    background: #014E56;
    padding-top: 70px;

    .header__body {
        @include dis-item;
        justify-content: space-between;

        .header_nav {
            display: flex;
            margin-right: 50%;
            column-gap: 40px;

            .header__link {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                color: #FFFFFF;
            }
        }

        .header__btn {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            border-radius: 30px;
            border: 2px solid white;
            padding: 10px 30px;
            color: #FFFFFF;
        }

        .header__more {
            display: none;
        }
    }
}

.hero {
    background: #014E56;
    padding-top: 140px;

    .hero__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-bottom: 250px;

        .hero__title {
            font-style: normal;
            font-weight: 700;
            font-size: 100px;
            line-height: 100px;
            color: #FFFFFF;
            max-width: 600px;
            // width: 50%;
            // flex: 1;
        }

        .hero__info {
flex: 1;
            .hero__line {
                height: 4px;
                width: 50px;
                background: #79C8C7;
                margin-bottom: 80px;

            }

            .hero__text {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                color: #FFFFFF;
                width: 85%;
            }
        }


    }

    .hero__body::before {
        content: "";
        position: absolute;
        width: 358px;
        height: 100px;
        bottom: 0;
        right: 0;
        background: url(/images/Group7.png);
    }
}








@media screen and (max-width:768px) {
    .container {
        padding: 0 40px;
    }

    header {
        .header__body {
            .header__logo {
                width: 120px;
            }

            .header_nav {
                margin-right: 20%;
            }

            .header__more {
                display: none;
            }
        }
    }

    .hero {
        .hero__body {
            flex-direction: column;
            align-items: center;

            .hero__title {
                font-size: 64px;
                line-height: 56px;
                max-width: 390px;
                text-align: center;
                margin-bottom: 24px;
            }

            .hero__info {
                display: flex;
                flex-direction: column-reverse;

                .hero__line {
                    display: none;
                }

                .hero__text {
                    font-size: 15px;
                    text-align: center;
                    max-width: 457px;
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }

        .hero__body::before {
            right: inherit;
        }
    }
}


@media screen and (max-width:450px) {
    .container {
        padding: 0 24px;
        // width: 327px;
    }

    header {
        width: 375px;
        .header__body {
            .header__logo {
                width: 120px;
            }

            .header_nav {
                display: none;
            }

            .header__btn {
                display: none;
            }

            .header__more {
                display: flex;
            }
        }
    }

    .hero {
        width: 375px;
        .hero__body {
            flex-direction: column;
            align-items: center;

            .hero__title {
                font-size: 40px;
                line-height: 40px;
                width: 240px;
                margin-bottom: 18px;
            }

            .hero__info {
                display: flex;
                flex-direction: column-reverse;
                max-width: 327px;

                .hero__line {
                    display: none;
                }

                .hero__text {
                //    width: 327px;
                //    max-width: 100%;
                }
            }
        }

        .hero__body::before {
            right: inherit;
            width: 95%;
        }
    }
}