body {
  font-family: "Livvic", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  box-sizing: content-box;
  max-width: 1110px;
  padding: 0 100px;
  margin: 0 auto;
}

header {
  background: #014E56;
  padding-top: 70px;
}
header .header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header__body .header_nav {
  display: flex;
  margin-right: 50%;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
header .header__body .header_nav .header__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
header .header__body .header__btn {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  border-radius: 30px;
  border: 2px solid white;
  padding: 10px 30px;
  color: #FFFFFF;
}
header .header__body .header__more {
  display: none;
}

.hero {
  background: #014E56;
  padding-top: 140px;
}
.hero .hero__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 250px;
}
.hero .hero__body .hero__title {
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #FFFFFF;
  max-width: 600px;
}
.hero .hero__body .hero__info {
  flex: 1;
}
.hero .hero__body .hero__info .hero__line {
  height: 4px;
  width: 50px;
  background: #79C8C7;
  margin-bottom: 80px;
}
.hero .hero__body .hero__info .hero__text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  width: 85%;
}
.hero .hero__body .hero__img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.build {
  background: #012F34;
}
.build .build__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 140px;
}
.build .build__body .build__title {
  padding-top: 200px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  width: 45%;
  color: #FFFFFF;
}
.build .build__body .build__list {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  row-gap: 32px;
}
.build .build__body .build__list .build__item {
  display: flex;
  max-width: 520px;
  -moz-column-gap: 23px;
       column-gap: 23px;
}
.build .build__body .build__list .build__item .build__item__img {
  width: 72px;
  height: 72px;
}
.build .build__body .build__list .build__item .build__item__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 16px;
  color: #F67E7E;
}
.build .build__body .build__list .build__item .build__text {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.build .build__body::before {
  content: "";
  position: absolute;
  top: 150px;
  left: 0;
  width: 50px;
  height: 4px;
  background: #F67E7E;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 40px;
  }
  header .header__body .header__logo {
    width: 120px;
  }
  header .header__body .header_nav {
    margin-right: 20%;
  }
  header .header__body .header__more {
    display: none;
  }
  .hero .hero__body {
    flex-direction: column;
    align-items: center;
  }
  .hero .hero__body .hero__title {
    font-size: 64px;
    line-height: 56px;
    max-width: 390px;
    text-align: center;
    margin-bottom: 24px;
  }
  .hero .hero__body .hero__info {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero .hero__body .hero__info .hero__line {
    display: none;
  }
  .hero .hero__body .hero__info .hero__text {
    font-size: 15px;
    text-align: center;
    max-width: 457px;
    width: 100%;
    margin: 0 auto;
  }
  .hero .hero__img {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .container {
    padding: 0 24px;
  }
  header .header__body .header__logo {
    width: 120px;
  }
  header .header__body .header_nav {
    display: none;
  }
  header .header__body .header__btn {
    display: none;
  }
  header .header__body .header__more {
    display: flex;
  }
  .hero .hero__body {
    flex-direction: column;
    align-items: center;
  }
  .hero .hero__body .hero__title {
    font-size: 40px;
    line-height: 40px;
    width: 240px;
    margin-bottom: 18px;
  }
  .hero .hero__body .hero__info {
    display: flex;
    flex-direction: column-reverse;
    max-width: 327px;
  }
  .hero .hero__body .hero__info .hero__line {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */